body{
  background-image: url("minecraft.jfif");
  background-size: cover;
    color:white;    
}
h1 {
    font-size: 100px;
}
.gojo-css{width:1000px;
    border:5px solid black;
    border-radius:10px;
}
.imagen-destacada {
    border: 10px solid #ff6347;
    filter: grayscale(50%);
}
